<div class="ccb_popup_cookie" style="background-color:<?=$ccb_bg_color;?>">
    <div class="ccb_popup_cookie_inner">
        <div class="ccb_popup_notification">
            <div class="cbb_icon">
                <img src="<?=$ccb_icon_url?>">
            </div>
            <?=$ccb_content?>
            <? print_r($country);?>
        </div>
        <div class="ccb_popup_buttons">
            <a href="" 
            class="ccb_button" 
            id="ccb_cookie_agree" 
            style="background-color:<?=$ccb_button_color?>; border-color:<?=$ccb_button_color?>; color:<?=$ccb_bg_color; ?>"
            >Accept</a>
            <a href="" 
            class="ccb_button disagree" 
            id="ccb_cookie_disagree"
            style="border-color:<?=$ccb_button_color?>; color:<?=$ccb_button_color; ?>"
            >Close</a>
        </div>
        <div class="ccb_popup_cookie_close"></div>
    </div>
</div>