@import "utils/vars";

.ccb_cookie
{
    display: none;
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    background: #000000;
    color: #fff;
    z-index: 9999;
}

.ccb_cookie.show
{
    display: block;
}

.ccb_cookie_inner
{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    @media screen and (max-width: $phoneWidth) {
        flex-wrap: wrap;
    }
}

.cbb_icon
{
    flex:0 0 50px;
    @media screen and (max-width: $phoneWidth) {
        text-align: center;
        flex:0 0 100% !important;
    }
}

.cbb_icon img
{
    width: 100%;
    @media screen and (max-width: $phoneWidth) {
        max-width: 50px;
    }
}

.ccb_notification
{
    position: relative;
    align-items: center;
    @media screen and (max-width: $phoneWidth) {
        text-align: center;
        margin: 10px 0;
    }
}

.ccb_notification p   
{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    @media screen and (max-width: $phoneWidth) {
        padding:0 10px;
    }
}

.ccb_notification p a
{
    text-decoration: underline;
    color: #fff;
}

.ccb_notification p a:hover
{
    text-decoration: none;
}

.ccb_buttons
{
    flex:0 0 250px;
    text-align: right;
    @media screen and (max-width: $tableWidth) {
        flex:0 0 100px;
    }
    @media screen and (max-width: $phoneWidth) {
        text-align: center;
        flex:0 0 100% !important;
    }
}

.ccb_button, .ccb_button:visited
{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px 15px;
    border-radius: 5px;
    background: #fff;
    color: #000000;
    margin-left: 10px;
    outline: none;
    opacity: 1;
    @media screen and (max-width: $tableWidth) {
        display: block;
        margin: 5px 0;
    }
    @media screen and (max-width: $phoneWidth) {
        display: inline-block !important;
        margin: 0 5px !important;
    }
}

.ccb_button.disagree
{
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.ccb_button:hover
{
    opacity: 0.9;
}